### 1.介绍
使用pyhive连接远程hiveserver2

### 2.安装依赖
```
pip install pyhive thrift sasl thrift_sasl
```
### 3.使用模式
```
NOSASL
```
### 4.配置hive-site.yml
```xml
<property>
    <name>hive.server2.authentication</name>
    <value>NOSASL</value>
    <description>
      Expects one of [nosasl, none, ldap, kerberos, pam, custom].
      Client authentication types.
        NONE: no authentication check
        LDAP: LDAP/AD based authentication
        KERBEROS: Kerberos/GSSAPI authentication
        CUSTOM: Custom authentication provider
                (Use with property hive.server2.custom.authentication.class)
        PAM: Pluggable authentication module
        NOSASL:  Raw transport
    </description>
</property>
```

In [1]:
import pyhive
from pyhive import hive
import pandas as pd

In [11]:
conn = hive.Connection(host = "hive-service.default",port = 10000,database='default',auth='NOSASL')
result = pd.read_sql("show tables",conn)
result

  tab_name
0    test1

In [15]:
cursor = conn.cursor()
sql = "CREATE TABLE IF NOT EXISTS test2(key INT,value string) ROW FORMAT DELIMITED FIELDS TERMINATED BY ','"
cursor.execute(sql)

In [16]:
sql = 'insert into test2 values(1,"1")'
cursor.execute(sql)

In [17]:
sql = " select * from test2"
cursor.execute(sql)
result = cursor.fetchall()
print(result)

[(1, '1')]

In [18]:
cursor.close()
conn.close()